<header class="day__header">
  <span class="day__header--date"><%= date %></span>
  <form class="day__header--add" action="#" autocomplete="off">
    <input id="day-food-search" class="day__header--search" type="text" placeholder="Add Food"/>
    <div class="loader-container--small">
      <div id="loader" class="loader hidden">Loading...</div>
    </div>
  </form>
  <span class="day__header--calories"><% print(Math.round(dayCalories)) %> Cal</span>
</header>
<ul class="day__foods">
  <% foods.forEach(function(food) { %>
    <li class="food">
      <div class="food__delete"><span class="food__delete--icon">&#x2717;</span></div>
      <span class="food__name"><% print(food.get("name")) %></span>
      <span class="food__calories"><% print(Math.round(food.get("calories"))) %> Cal</span>
    </li>
  <% }) %>
</ul>
