$width: 100%;
$background-main: snow;
$nav-color: #333;
$nav-height: 10vh;
$stats-height: 7vh;
$search-height: 8vh;
$breakpoint: 800px;

body {
  padding: 0;
  margin: 0;
  display: block;
  background-color: $background-main;
  font-family: 'Work Sans', sans-serif;
}

.button {
  cursor: pointer;
}

.fade {
  filter: blur(2px) opacity(50%);
  pointer-events: none;
}

nav {
  display: flex;
  justify-content: space-between;
  color: $background-main;
  background-color: $nav-color;
  left: 0;
  width: 100vw;
  height: $nav-height;
}

.nav__title {
  margin: auto 1em;
  padding: 0.3em;
  font-size: 2.5em;
  font-weight: bold;
  @media (max-width: $breakpoint) {
    font-size: 1.5em;
  }
}

.auth {
  margin-left: auto;
  padding: 1em;
  display: flex;
  flex-direction: column;
}
.auth-contaniner {
  display: flex;
}
.auth-username {
  margin: 2px;
  text-align: center;
}
.auth-button {
  width: 100%;
  border: none;
  color: $background-main;
  background-color: $nav-color;
}

.header {
  max-width: $width;
  text-align: center;
  margin: 0 auto;
}

main {
  display: flex;
  height: calc(100vh - #{$nav-height} - #{$search-height} - #{$stats-height});
  max-width: $width;
  margin: 0 auto;
  color: $nav-color;
}

.hidden {
  display: none;
}

.search {
  width: 100%;
  height: $search-height;;
}

.search-form {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

$search-height: 70%;
.search-form__input {
  width: 60%;
  height: $search-height;
  font-size: 2em;
  border: 0;
  box-shadow: 0 0 1em grey;
  padding: 0 10px;
  @media (max-width: $breakpoint) {
    font-size: 1em;
  }
}
.search-form__button {
  position: relative;
  height: $search-height;
  width: 20%;
  border: none;
  padding: 0;
  background-color: royalblue;
  box-shadow: 0 0 1em grey;
  font-size: 1.5em;
  color: $nav-color;
}

.food-history {
  width: $width;
  height: 100%;
  overflow-y: scroll;
  padding: 0 3em;
}

.search-results {
  position: fixed;
  top: 20vh;
  left: 25%;
  z-index: 1;
  margin: 0;
  height: 50vh;
  width: 50%;
  opacity: 1;
  background-color: white;
  filter: none;
}

.search-results__list {
  height: 90%;
  overflow-y: scroll;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.search-results__cancel {
  position: absolute;
  bottom: 0;
  left: 0;
  border: none;
  font-size: 1em;
  height: 10%;
  width: 100%;
}

.search-result:hover {
  background-color: grey;
}

.search-result {
  padding: 0.5em;
}
.search-result__container {
  display: flex;
  justify-content: space-between;
}

.stats {
  position: absolute;
  width: 100%;
  height: $stats-height;
  min-height: $stats-height;
  display: flex;
  align-items: center;
  font-size: 1.5em;
  background-color: $nav-color;
  color: $background-main;
  bottom: 0;
  @media (max-width: $breakpoint) {
    font-size: 0.8em;
  }
}

.stats__group {
  width: 50%;
  text-align: center;
}

.day__header {
  display: flex;
  color: grey;
  font-weight: bold;
  font-size: 1.5em;
}

.day__header--add {
  margin-left: auto;
}

.day__header--search {
  display: none;
  height: 80%;
  font-size: 0.5em;
}

.day:hover .day__header--search {
  display: block;
}

.day:hover .day__header--calories {
  display: none;
}

.day__foods {
  list-style: none;
  padding: 0;
}

.food {
  display: flex;
  padding: 0.5em;
}

.food:hover {
  background-color: lightgrey;
}

.food:hover .food__delete--icon {
  display: block;
}

.food__delete--icon {
  display: none;
}

.food__delete {
  width: 1em;
}

.food__name {
  padding-right: 2em;
}

.food__calories {
  min-width: 3.5em;
  margin-left: auto;
}

/*Spinner from http://projects.lukehaas.me/css-loaders/ */
.loader,
.loader:before,
.loader:after {
  background: $nav-color;
  -webkit-animation: load1 1s infinite ease-in-out;
  animation: load1 1s infinite ease-in-out;
  width: 1em;
  height: 4em;
}
.loader:before,
.loader:after {
  position: absolute;
  top: 0;
  content: '';
}
.loader:before {
  left: -1.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.loader {
  color: $nav-color;
  text-indent: -9999em;
  margin: 88px auto 88px 2.5em;
  position: absolute;
  top: 11px;
  font-size: 5px;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
.loader:after {
  left: 1.5em;
}
@-webkit-keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}
@keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}
