$width: 100%;
$background-main: snow;
$nav-color: #333;
$nav-height: 5em;
$stats-height: 3em;
$search-height: 4.5em;

body {
  padding: 0;
  margin: 0;
  display: block;
  background-color: $background-main;
  font-family: 'Work Sans', sans-serif;
}

.button {
  cursor: pointer;
}

.fade {
  filter: blur(2px) opacity(50%);
  pointer-events: none;
}

nav {
  display: flex;
  justify-content: space-between;
  color: snow;
  background-color: $nav-color;
  left: 0;
  width: 100vw;
  height: $nav-height;
}

.nav__title {
  margin: auto 1em;
  padding: 0.3em;
  font-size: 2.5em;
  font-weight: bold;
}

.auth {
  margin-left: auto;
  padding: 1em;
  display: flex;
  flex-direction: column;
}
.auth-contaniner {
  display: flex;
}
.auth-username {
  margin: 2px;
  text-align: center;
}
.auth-button {
  width: 100%;
  border: none;
  color: snow;
  background-color: $nav-color;
}

.header {
  max-width: $width;
  text-align: center;
  margin: 0 auto;
}

main {
  display: flex;
  height: calc(100vh - #{$nav-height} - #{$search-height} - #{$stats-height});
  max-width: $width;
  margin: 0 auto;
}

.hidden {
  display: none;
}

.search {
  width: 100%;
  height: $search-height;;
}

.search-form {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

$search-height: 70%;
.search-form__input {
  width: 60%;
  height: $search-height;
  font-size: 2em;
  border: 0;
  box-shadow: 0 0 1em grey;
  padding: 0 10px;
}
.search-form__button {
  position: relative;
  height: $search-height;
  width: 20%;
  border: none;
  padding: 0;
  background-color: royalblue;
  box-shadow: 0 0 1em grey;
  font-size: 1.5em;
}

.food-history {
  width: $width;
  height: 100%;
  overflow-y: scroll;
  padding: 0 3em;
}

.search-results {
  position: fixed;
  top: 20vh;
  left: 25%;
  z-index: 1;
  margin: 0;
  height: 50vh;
  width: 50%;
  opacity: 1;
  background-color: white;
  filter: none;
}

.search-results__list {
  height: 90%;
  overflow-y: scroll;
  list-style-type: none;
}

.search-results__cancel {
  position: absolute;
  bottom: 0;
  left: 0;
  border: none;
  font-size: 1em;
  height: 10%;
  width: 100%;
}

.search-result:hover {
  background-color: grey;
}

.stats {
  position: fixed;
  width: 100%;
  height: $stats-height;
  margin: auto;
  display: flex;
  font-size: 1.5em;
}

.stats__group {
  width: 50%;
  text-align: center;
}

.day__header {
  display: flex;
  color: grey;
  font-weight: bold;
  font-size: 1.5em;
}

.day__header--add {
  margin-left: auto;
}

.day__header--search {
  display: none;
  height: 80%;
  font-size: 0.5em;
}

.day:hover .day__header--search {
  display: block;
}

.day:hover .day__header--calories {
  display: none;
}

.day__foods {
  list-style: none;
  padding: 0;
}

.food {
  display: flex;
  padding: 0.5em;
}

.food:hover {
  background-color: lightgrey;
}

.food:hover .food__delete--icon {
  display: block;
}

.food__delete--icon {
  display: none;
}

.food__delete {
  width: 1em;
}

.food__calories {
  margin-left: auto;
}
